<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag    "static_pages", :media => "all" %>
  
</head>

<body>
  <div id="main">	
    <div id="site_content">  
	  <div id="menubar">
        <ul class="lavaLampWithImage" id="lava_menu">
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="ourwork.html">Bachelors</a></li>
          <li><a href="testimonials.html">Masters</a></li>
          <li><a href="projects.html">PhD</a></li>
        </ul>
	  </div><!--close menubar-->
      <div id="header">  
        <h1><span>SelectMyMajor.com</span></h1>	
	    <h2>Find and compare different majors in a few clicks</h2>
      </div><!--close header-->	
	  <div id="banner_image">
	    <div id="slider-wrapper">        
          <div id="slider" class="nivoSlider">
            <%= image_tag("slider1.jpg", :alt => "slide1",:height => "100%", :width => "100%") %>
            <%= image_tag("slider2.jpg", :alt => "slide2",:height => "200px", :width => "700px") %>
            <%= image_tag("slider3.jpg", :alt => "slide3",:height => "200px", :width => "700px") %>
      
		  </div><!--close slider-->
		</div><!--close slider-wrapper-->
	  </div><!--close banner_image-->		  
      <div id="content">
      <div class="content_photo">
        <div class="content_image">
        <%= image_tag "cmuq.jpg", :alt => "slide1",:height => "200px", :width => "250px", :style => " border: 10px solid #FFF;" %>
        
		  
		  <div class="content_text">
		    <h2>Carnegie Mellon University</h2>
		    <p>Carnegie Mellon University Qatar, Located in Education City, Doha</p>
		  </div>
		</div>
		<div class="content_image">
    <%= image_tag "tamuq.jpg", :alt => "tamuq",:height => "200px", :width => "250px", :style => " border: 10px solid #FFF;" %>
		  <div class="content_text">
		    <h2>Texas A&M University</h2>
		    <p>Texas A&M University, located in College Station, Texas</p>
		  </div>		
		</div>
		<div class="content_image">
    <%= image_tag "nuq.jpg", :alt => "nuq",:height => "200px", :width => "250px", :style => " border: 10px solid #FFF;" %>
		  <div class="content_text">
		    <h2>NorthWestern University </h2>
		    <p>NorthWestern University Qatar, Located in Education City, Doha</p>
		  </div>		
		</div>
	  </div><!--close content_photo-->		
       <br style="clear:both;" />
      </div><!--close content-->	
    </div><!--close site_content-->	
    <div id="footer">  
      <div class="footer_content">
        <div class="footer_text">
		  <h2>Connect With Us</h2>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique dignissim laoreet.</p>
		</div>
		<div class="footer_text">
		  <h2>University & Alumnis</h2>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique dignissim laoreet.</p>
		</div>
		<div class="footer_text">
		  <h2>More about SelectMyMajor</h2>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique dignissim laoreet.</p>
		</div>
		<br style="clear:both"/>
	  </div><!--close footer_content-->	   
      <a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a> | <a href="http://fotogrph.com/">Images</a> | website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>
	</div><!--close footer-->	
  </div><!--close main-->	
</body>
</html>
