<p id="notice"><%= notice %></p>



<body>
 <div class="container">
      <div class="jumbotron">
        <div class="row">
        <div class="col-md-3 col-md-offset-1 text-center">
          <div class="panel panel-default">
          	<div class="panel-body">
            	<img class="img-thumbnail" />
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <h1 class="welcomeText heading"> <%= @alumni.name %> </h1>
        </div>
        <h3 class="welcomeText headingInfo">       <%=@alumni.major.name %> graduate from <%= @alumni.university.name %> </h3>
      </div>
    </div>
  </div>

  <div class="container">
  	<h3> <span class="glyphicon glyphicon-paperclip"></span> Projects I Completed</h3>
  	<div class="jumbotron">
    	<div class="row">
        	<div class="panel panel-default">
            	<div class="panel-heading">Vartak Integrity Website</div>
                <div class="panel-body">
                	<div class="col-lg-4">
                    	<a href="http://vartakintegrity.com/" target="_blank"><img src="http://vartakintegrity.com/images/Logo/logo.png" class="img-thumbnail" /></a>
                    </div>
                    <div class="col-lg-8">
                    	<h3 class="">Vartak <button class="btn btn-lg btn-default" data-toggle="tooltip" data-placement="top" title="Integrity 2014 - Tribute to the Legends" id = "Integrity">Integrity 2014</button> Website in <button class="btn btn-lg btn-default">PHP</button> & <button class="btn btn-lg btn-default">MySQL</button></h3>
                        <div align="justify">Integrity is one of the most awaited annual technical fest held by Information Technology and Computer Science of Vidyavardhini's A.V. College of Arts, K.M.College of Commerce & E.S.Andrades College of Science.</div>
                        <a class="btn btn-primary pull-right" target="_blank" href="http://vartakintegrity.com/">Visit Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
 </body>
  
  
  
  
  
  
  
  
  <p>
  <b>University:</b>
  <%= @alumni.university.name %>
</p>

<p>
  <b>Name:</b>
  <%= @alumni.name %>
</p>

<p>
  <b>Email:</b>
  <%= @alumni.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @alumni.phone %>
</p>

<p>
  <b>Age:</b>
  <%= @alumni.age %>
</p>

<p>
  <b>Graduation year:</b>
  <%= @alumni.graduation_year %>
</p>

<p>
  <b>Linkedin:</b>
  <%= @alumni.linkedin %>
</p>

<p>
  <b>major:</b>
  <%= @alumni.major.name %>
</p>

<p>
<%= link_to 'Invite Alumni', new_alumni_invitation_path(:alumni) %>


</p>





<%= link_to 'Edit', edit_alumni_path(@alumni) %> |
<%= link_to 'Back', alumnis_path %>
