<p id="notice"><%= notice %></p>




 <div class="container">
      <div class="jumbotron">
        <div class="row">
        <div class="col-md-3 col-md-offset-1 text-center">
          <div class="panel panel-default">
          	<div class="panel-body">
            	<img class="img-thumbnail" />
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <h1 class="welcomeText heading"> <%= @alumni.name %> </h1>
        </div>
        <h3 class="welcomeText headingInfo">       <%=@alumni.major.name %> graduate from <%= @alumni.university.name %> </h3>
      </div>
    </div>
  </div>

  
  <p>
  <b>University:</b>
  <%= @alumni.university.name %>
</p>

<p>
  <b>Name:</b>
  <%= @alumni.name %>
</p>

<p>
  <b>Email:</b>
  <%= @alumni.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @alumni.phone %>
</p>

<p>
  <b>Age:</b>
  <%= @alumni.age %>
</p>

<p>
  <b>Graduation year:</b>
  <%= @alumni.graduation_year %>
</p>

<p>
  <b>Linkedin:</b>
  <%= @alumni.linkedin %>
</p>

<p>
  <b>major:</b>
  <%= @alumni.major.name %>
</p>

<p>
<%= link_to 'Invite Alumni', new_alumni_invitation_path(:alumni) %>


</p>





<%= link_to 'Edit', edit_alumni_path(@alumni) %> |
<%= link_to 'Back', alumnis_path %>
