 <div id="main">	
  
    <div id="site_content">  

<h2><%= t('.contact_us') %></h2>
<%= simple_form_for :user, :url => contacts_path do |f| %>

  <%= f.input :name, :label => t('.name') if ContactUs.require_name %>
  </br>
  <%= f.input :email, :label => t('.email') %>
    </br>

  <%= f.input :subject, :label => t('.subject') if ContactUs.require_subject %>
    </br>

  <%= f.input :message, :as => :text, :label => t('.message') %>
    </br>

  <%= f.button :submit, :value => t('.submit'), :alt => t('.submit'), :id => 'contact_us_contact_submit', :title => t('.submit') %>
<% end %>


</div>
</div>