<h1>Listing universities</h1>

<% @universities.each do |university| %>
<div class="panel panel-primary">

<table>

  <tr>
  <tr>
  <td> <%= image_tag university.picture %> </td>
  </tr>
    <td> Name: <%= university.name %></td>
  </tr>
   <tr>
   <td> Address: <%= university.address %></td>
  </tr>
   <tr>
   <td> Phone: <%= university.phone %></td>
  </tr>
  <tr>
  <td> Email: <%= university.email %></td>
  </tr>
  
  </table>
</div>

<% end %>


<br />

<%= link_to 'New University', new_university_path %>
