<h1>Listing universities</h1>

<div class="panel panel-primary">
<table>
  <tr>
    <td>Name</td>
  </tr>
   <tr>
    <td>Address</td>
  </tr>
   <tr>
    <td>Phone</td>
  </tr>
  <tr>
    <td>Email</td>
  </tr>
  
  </table>
</div>

<% @universities.each do |university| %>
  <tr>
    <td><%= university.name %></td>
    <td><%= university.address %></td>
    <td><%= university.phone %></td>
    <td><%= university.email %></td>
    <td><%= university.alumni_id %></td>
    <td><%= university.uni_major_id %></td>
    <td><%= university.city %></td>
    <td><%= university.state %></td>
    <td><%= university.balance %></td>
    <td><%= link_to 'Show', university %></td>
    <td><%= link_to 'Edit', edit_university_path(university) %></td>
    <td><%= link_to 'Destroy', university, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>


<br />

<%= link_to 'New University', new_university_path %>
