<h1>Universities</h1>
</br>
<% @universities.each do |university| %>
<div class="panel panel-primary">

<table>

  <tr>
  <td >  <%= image_tag university.picture, :class => "uni_image" %> </td>

   <td> 
	<b><h2> <%= link_to university.name, university %></h2> </b>
	</br>
	Address: <%= university.address %>
	</br>
	Phone: <%= university.phone %>
	</br>
	Email: <%= university.email %>
	</td>
	
  </tr>
  
  </table>
</div>

<% end %>


<br />
  <% if can? :create, @university %>
<%= link_to 'New University', new_university_path %>
  <% end %>
