<p id="notice"><%= notice %></p>
<head>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>

 <div class="container">
      <div class="jumbotron">
        <div class="row">
        <div class="col-md-3 col-md-offset-1 text-center">
          <div class="panel panel-default">
            	<%= image_tag @university.picture, :class => "img-thumbnail" %>
          </div>
        </div>
        <div class="col-md-8">
          <h1 class="welcomeText heading"> <%= @university.name %> </h1>
        </div>
        <h3 class="welcomeText headingInfo">       Samir</h3>
      </div>
    </div>
  </div>
</body>

<p>


<%= image_tag @university.picture, :class => "uni_image" %>

<ul class="list-group" style="width:390px">

  <li class="list-group-item">
 



<p>
  <b>Name:</b>
  <%= @university.name %>
</p>
</li>
  <li class="list-group-item">

<p>
  <b>Address:</b>
  <%= @university.address %>
</p>
</li>

 <li class="list-group-item">

<p>
  <b>City:</b>
  <%= @university.city %>
</p>
</li>
 <li class="list-group-item">

<p>
  <b>State:</b>
  <%= @university.state %>
</p>
</li>


  <li class="list-group-item">
<p>
  <b>Phone:</b>
  <%= @university.phone %>
</p>
</li>
  <li class="list-group-item">
<p>
  <b>Email:</b>
  <%= @university.email %>
</p>

 </li>
</ul>
</p>


<% if can? :edit, @university %>

<p>
  <b>Balance:</b>
  <%= @university.balance %>
</p>
<% end %>
<p>
  <b><h3>Majors:</h3></b>
  <% for major in @university.majors do %>
    <%= link_to major.name, major %>
    <% end %>
</p>
<p>
  <b><h3>Alumni:</h3></b>
  <% @university.alumni%>
    <% for alumni in @university.alumni do %>
    <%= link_to alumni.name, alumni %>
    <% end %>
</p>

<% if can? :edit, @university %>
<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
<% end %>