<p id="notice"><%= notice %></p>

<p>


<%= image_tag @university.picture, :class => "uni_image" %>

<ul class="list-group" style="width:390px">

  <li class="list-group-item">
 



<p>
  <b>Name:</b>
  <%= @university.name %>
</p>
</li>
  <li class="list-group-item">

<p>
  <b>Address:</b>
  <%= @university.address %>
</p>
</li>
  <li class="list-group-item">
<p>
  <b>Phone:</b>
  <%= @university.phone %>
</p>
</li>
  <li class="list-group-item">
<p>
  <b>Email:</b>
  <%= @university.email %>
</p>

 </li>
</ul>
</p>


<p>
  <b>City:</b>
  <%= @university.city %>
</p>
<p>
  <b>State:</b>
  <%= @university.state %>
</p>

<% if can? :edit, @university %>

<p>
  <b>Balance:</b>
  <%= @university.balance %>
</p>
<% end %>
<p>
  <b><h3>Majors:</h3></b>
  <% for major in @university.majors do %>
    <%= link_to major.name, major %>
    <% end %>
</p>
<p>
  <b><h3>Alumni:</h3></b>
  <%= @university.alumni %>
</p>

<% if can? :edit, @university %>
<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
<% end %>