<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
               <%= link_to "EduConnect.com", root_path, :class => "navbar-brand" %>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li <%if controller?("static_pages") && action?("home")%> class="active" <%end%> > <%= link_to "Home", root_path %></li>
				        <li <%if controller?("majors") && action?("index")%> class="active" <%end%>> <%= link_to "Majors", majors_path %></li>

				        <li <%if controller?("universities") && action?("index")%> class="active" <%end%>> <%= link_to "Universities", universities_path %></li>
				        <li <%if controller?("alumnis") && action?("index")%> class="active" <%end%>> <%= link_to "Alumnis", alumnis_path %></li>
                
              </ul>
			  <ul class="nav navbar-nav navbar-right">
			  <% if current_user %>
			    <li><%= link_to "Sign out", destroy_user_session_path %></li>
  				
				<% elsif current_alumni %>
					   <li><%= link_to "Profile", current_alumni %></li>
			   <li><%= link_to "Sign out", destroy_alumni_session_path %></li>
		
				
				<% else %>
				  <li><%= link_to "Admin Sign in ", new_user_session_path %></li>
  				
				  <li><%= link_to "Alumni Sign in", new_alumni_session_path %></li>
				
				<% end %>
				
			   </ul>
			</div>
          </div>
        </div>
        <% flash.each do |name, msg| %>
        <div class="alert alert-warning"<%= name == :notice ? "success" : "error" %>">
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
        <% end %>
      </div>
    </div>
